/* About Us */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 2rem;
  font-size: 1.5rem;
}
nav a {
  color: white;
  text-decoration: none;
}
@media (max-width: 500px) {
  nav {
    justify-content: space-between;
  }
}
body {
  margin: 0 auto;
  padding: 1rem;
  width: 50rem;
}
@media (max-width: 500px) {
  body {
    width: 90%;
  }
}
img {
  height: 20rem;
  width: 20rem;
  border: 1rem solid black;
}
@media (max-width: 500px) {
  img {
    display: none;
  }
}
@media (max-width: 500px) {
  h3 {
    text-align: center;
  }
}
img:hover {
  border: 1% solid red;
}
button {
  background: white;
  color: black;
  height: 10%;
  width: 25%;
  position: relative;
  transition: all 900ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  margin-top: 30%;
}
button:hover {
  background: black;
  border: 1% solid white;
  color: white;
}
button:hover span {
  display: none;
}
button:hover:before {
  content: "GitHub";
}
.albert {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.albert .a-content {
  height: 21rem;
  width: 22rem;
  margin: 0 auto;
  text-align: center;
  background: black;
  color: white;
  padding: 0.5rem;
}
.albert .a-content p {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
.connor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1rem;
}
.connor .connor-content {
  height: 21rem;
  width: 22rem;
  margin: 0 auto;
  text-align: center;
  background: black;
  color: white;
  padding: 0.5rem;
}
.tomas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1rem;
}
.tomas .t-content {
  height: 21rem;
  width: 22rem;
  margin: 0 auto;
  text-align: center;
  background: black;
  color: white;
  padding: 0.5rem;
}
.tomas .t-content p {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
.shreyas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1rem;
}
.shreyas .sh-content {
  height: 21rem;
  width: 22rem;
  margin: 0 auto;
  text-align: center;
  background: black;
  color: white;
  padding: 0.5rem;
}
.shreyas .sh-content p {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
.chris {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1rem;
}
.chris .ch-content {
  height: 21rem;
  width: 22rem;
  margin: 0 auto;
  text-align: center;
  background: black;
  color: white;
  padding: 0.5rem;
}
.sam {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1rem;
}
.sam .s-content {
  height: 21rem;
  width: 22rem;
  margin: 0 auto;
  text-align: center;
  background: black;
  color: white;
  padding: 0.5rem;
}
.kelly {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1rem;
}
.kelly .k-content {
  height: 21rem;
  width: 22rem;
  margin: 0 auto;
  text-align: center;
  background: black;
  color: white;
  padding: 0.5rem;
}
.fnu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1rem;
}
.fnu .f-content {
  height: 21rem;
  width: 22rem;
  margin: 0 auto;
  text-align: center;
  background: black;
  color: white;
  padding: 0.5rem;
}
.noor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1rem;
}
.noor .n-content {
  height: 21rem;
  width: 22rem;
  margin: 0 auto;
  text-align: center;
  background: black;
  color: white;
  padding: 0.5rem;
}
footer {
  text-align: center;
}
